#clockcontainer{
    position: relative;
    margin:auto;
    
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: rgb(57, 20, 158);
    border-radius: 10px;
    background-color:rgb(46, 139, 61);
}
#hour{
    width: 0.75%;
    height: 7%;
    top: 36%;
    left: 47.5%;
    transform-origin: bottom;
    
}
#minute{
    width: 0.6%;
    height: 10%;
    top: 33%;
    left: 47.6%;
    transform-origin: bottom;
    
}
#second{
    width: 0.4%;
    height: 12%;
    top: 31%;
    left: 47.7%;
    transform-origin: bottom;
    
}
